<div class='auth'>
    <div class='row'>
        <div class='col s12'>
            <ul class='tabs'>
                <li class='tab col s6'><a class='active' href='#login'>Log in</a></li>
                <li class='tab col s6'><a href='#register'>Register</a></li>
            </ul>
        </div>
        <div id='login' class='col s6 offset-s3'>

            <h3>Login to shop</h3>

            {{#if errorLogin}}
                <p class='alert'>{{errorLogin}}</p>
            {{/if}}

            <form action='/auth/login' method='POST'>
                <div class='input-field'>
                    <input id='email' name='email' type='email' class='validate' required autofocus />
                    <label for='email'>Email</label>
                    <span class='helper-text' data-error='Enter email'></span>
                </div>
                <div class='input-field'>
                    <input id='password' name='password' type='password' class='validate' required />
                    <label for='password'>Password</label>
                    <span class='helper-text' data-error='Enter password'></span>
                </div>

                <input type='hidden' name='_csrf' value='{{csrf}}' />

                <button type='submit' class='btn btn-primary'>Login</button>
            </form>

        </div>
        <div id='register' class='col s6 offset-s3'>

            <h3>Create account</h3>

            {{#if errorRegister}}
                <p class='alert'>{{errorRegister}}</p>
            {{/if}}

            <form action='/auth/register' method='POST'>
                <div class='input-field'>
                    <input id='remail' name='email' type='email' class='validate' required />
                    <label for='remail'>Email</label>
                    <span class='helper-text' data-error='Enter email'></span>
                </div>

                <div class='input-field'>
                    <input id='rpassword' name='password' type='password' class='validate' required />
                    <label for='rpassword'>Password</label>
                    <span class='helper-text' data-error='Enter password'></span>
                </div>

                <div class='input-field'>
                    <input id='confirm' name='confirm' type='password' class='validate' required />
                    <label for='confirm'>Confirm password</label>
                    <span class='helper-text' data-error='Repeat password'></span>
                </div>

                <div class='input-field'>
                    <input id='name' name='name' type='text' class='validate' />
                    <label for='name'>Name</label>
                </div>

                <input type='hidden' name='_csrf' value='{{csrf}}' />

                <button type='submit' class='btn btn-primary'>Register</button>
            </form>

        </div>
    </div>
</div>
